extends base.pug

block style
    style 
        include ../static/style.css 
        include ../static/contactstyle.css 
block content
    div#thanks
        h1 THANK YOU FOR CONTACTING US !
        h3 we will reach you soon ! 

            