@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    top: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
    /* background-color: white; */
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#navbar ul {
    position: fixed;
    display: flex;
    text-decoration: none;
    background-color: white;
    width: 100%;
    height: 9.5vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    z-index: 100;
}

#navbar li {
    list-style: none;
    padding: 0px 1vw;
    height: 9.5vh;
}

#navbar ul li a {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    cursor: pointer;
    transition: font-size 0.3s, font-weight 0.5s;
    font-family: 'Baloo Bhai 2', cursive;
}
#a2{
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    height: inherit;
    cursor: pointer;
    transition: font-size 0.3s, font-weight 0.5s;
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#a2:hover,
#a3:hover {
    font-size: 18px;
    font-weight: bold;
}

#a1 {
    font-size: 1.5rem;
    /* width: 8vw; */
}

/* #a2,
#a3 {
    width: 8vw;
} */

#a1:hover {
    font-size: 1.6rem;
    color: blue
}

#godown {
    transition: font-size 0.3s, font-weight 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#godown span {
    margin-left: 5px;

}

#godown:hover {
    font-size: 16px;
    font-weight: bold;
}

#a1:after {
    content: '';
    position: absolute;
    width: 4.5%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform-origin: 0% center;
    transition: transform 0.25s ease-out;
}

#a1:hover:after {
    transform: scaleX(1);
    /* transform-origin: 30% 30%; */
}

#a2:after {
    content: '';
    position: absolute;
    width: 11.5%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: 0% center;
    transition: transform 0.25s ease-out;
}

#a2:hover:after {
    transform: scaleX(1);
    /* transform-origin: bottom left; */
}

#a3:after {
    content: '';
    position: absolute;
    width: 19%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform-origin: 0% center;
    transition: transform 0.25s ease-out;
}

#a3:hover:after {
    transform: scaleX(1);
    /* transform-origin: 30% 30%; */
}

#godown:after {
    content: '';
    position: absolute;
    width: 28.6%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: 0% center;
    transition: transform 0.25s ease-out;
}

#godown:hover:after {
    transform: scaleX(1);
    /* transform-origin: 30% 30%; */
}

#godowna,
#godown span {
    width: 10px;

}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
}

#emptynav {
    height: 9vh;
    background-color: yellow;
}

#content img{
    width: 100vw;
    position: absolute;
    height: 126vh;
    top: -29vh;
    z-index: -1;
    /* opacity: 0.7; */
    object-fit: cover;
    opacity: 0;
    animation-name: imagechange;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes imagechange {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#content img:nth-of-type(1) {
    animation-delay: 0;
}

#content img:nth-of-type(2) {
    animation-delay: 5s;
}

#content img:nth-of-type(3) {
    animation-delay: 10s;
}

#content {
    /* background: center/cover no-repeat url("/static/shoebg.jpg"); */
    /* opacity: 0.9; */
    height: 69vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.5rem;
    text-shadow: 2px 5px 2px black;
    font-weight: bold;
    /* z-index: -1; */
    overflow: hidden;
    position: relative;
}
#content div{
    z-index: 30;
}
#temp{
    overflow: hidden;
    height: inherit;
    width: 100vw;
    
}
#graybg{
    /* background-color: white; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.443);
    height: inherit;
    width: 100vw;
}
/* .btn {
    width: 90px;
    margin-top: 15px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
} */

/* .btn a {
    text-decoration: none;

}

.btn:hover {
    background-color: lightgray;
    border-color: gray;
    font-weight: bold;
} */

/* #content2 {
    height: 60vh;
} */

#content2head {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    text-decoration: underline;
    text-decoration-style: double;

}

#itembox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.item {
    margin: 0vh 2vh;
    margin-bottom: 1vh;
    padding: 2vh;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 25vw;
    transition: transform 0.5s ease-out 0s, box-shadow 0.5s ease-out 0s;
}

.item:hover {
    box-shadow: 15px 15px 5px lightgray;
    transform: scale(1.05);
}

.item img {
    /* width: 18vw; */
    width: 23vw;
    /* height: 38vh; */
    height: 45vh;
    margin-top: 10px;
    /* transition: width 0.5s ease-in-out 0s; */
    transition: transform 0.5s ease-in-out 0s;
}

.item img:hover {
    /* width: 25vw; */
    transform: scale(1.03);
}

.itemname {
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.itemname:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

.pricebox {
    display: flex;
    align-items: flex-end;
}

.pricebox div {
    padding: 0px 5px;
}

.pricenew {
    color: red;
    font-weight: bolder;
    font-size: 1.1rem;
}

.priceold {
    text-decoration: line-through;
    color: gray;
    font-size: 0.9rem;
}

.instock {
    color: green;
    text-shadow: 1px 1px greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkicon {
    padding: 0px 5px;
}

.btn {
    height: 8vh;
    /* background-color: red; */
    margin: 4px 0px;
    transition: background-color 0.4s ease-in-out 0s, color 0.4s ease-in 0s, font-weight 0.4s ease-in 0s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.btn:hover {
    background-color: blue;
    color: white;
    font-weight: bolder;
}


#footer {
    border-top: 1px solid gray;
    
    background-color: rgb(255 255 255 / 69%);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* color: white; */
    width: 100vw;
    height: 70vh;
    margin-top: 10vh;
}

#socialbox {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* margin-top: 5vh; */
    margin: 1vh auto;
}

#socialbox a img {
    width: 7vw;
}
#contactinfobox{
    display: flex;
    /* justify-content: space-evenly; */
}
#contactinfo{
    color: black;
    width: 40vw;
    margin-left: 1vw;
}
.cinfo{
    font-weight: bold;
}
.cinfo div{
    font-weight: initial;
}
#sideinfobox{
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sideinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 1vw;
}
.sideinfoicon{
    font-size: 3.5rem;

}
.sideinfo div{
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    #a2:after {
        width: 19%;
    }
    #content img{
        top: 0vh;
        height: 77vh    ;
    }
    #a3:after {
        width: 29%;
    }

    #godown:after {
        width: 41%;
    }

    .item {
        width: 35vw;
        /* background-color: red; */
    }

    .itemname {
        padding: 0px 1vw;
    }

    .item img {
        width: 30vw;
    }

    #itembox {
        justify-content: space-evenly;
    }

}

@media screen and (max-width:850px) {
    #a2:after {
        width: 21%;
    }

    #a3:after {
        width: 32%;
    }

    #godown:after {
        width: 44%;
    }
    #sideinfobox{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
}

@media screen and (max-width:770px) {
    #godown:after {
        width: 49%;
    }
    #content img{
        width: 137vw;
    }
}

@media screen and (max-width:650px) {
    #a2:after {
        width: 23%;
    }

    #a3:after {
        width: 37%;
    }

    #godown:after {
        width: 54%;
    }
    #content img{
        height: 53vh;
    }
    #content{
        height: 53vh;
    }

}

@media screen and (max-width:700px) {
    .item {
        width: 40vw;
    }

    .item img {
        width: 37vw;
    }

    #content {
        font-size: 2.5rem;
    }
}


@media screen and (max-width:550px) {
    #menu {
        padding: 1.6vh 2vw;
        transition: transform 0.2s, color 0.4s;
    }
    #logo {
        position: absolute;
        justify-content: flex-end;
        right: 1px;
    }
    #navbar ul {
        display: initial;
        width: 100vw;
    }
    #navbar li {
        padding: 0px;

    }
    #godown {
        position: absolute;
        left: 10vw;
    }
    #a1:after {
        top: 18vh;
        width: 100%;
    }
    #a2:after {
        top: 27.5vh;
        width: 100%;
    }
    #a3:after {
        top: 37vh;
        width: 100%;
    }
    #godown:after {
        width: 100%;
    }
    .a,#a2 {
        display: none;

    }
    #a1,
    #a2,
    #a3 {
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.84);
        border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    }

    #content img{
        width: 140vw;
    }

    #content {
        overflow: hidden;
        position: relative;
        font-size: 2.1rem;
    }

    .item {
        width: 70vw;
    }

    .item img {
        width: 65vw;
        /* height: 60vh; */
    }
    #socialbox a img{
        width: 10vw;
    }
    #contactinfobox{
        flex-direction: column;
        width: 100vw;
    }
    #contactinfo{
        width: 100vw;
    }
    #sideinfobox{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100vw;
    }


}

@media screen and (max-width:426px) {
    #content {
        font-size: 1.9rem;
    }
    #content2head {
        font-size: 1.5rem;
    }
    #godown{
        margin-left: 2vw;
    }
    #logo{
        font-size: 1.5rem;
    }
    .sideinfo{

        border-bottom: 1px solid black;
        font-size: 0.9rem;
    }
    .sideinfoicon{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:376px) {
    #content2head {
        font-size: 1.5rem;
    }
    .item{
        width: 80vw;       
    }
    .item img{
        height: 50vh;
    }
    #content img{
        height: 81vh;
    }
    #content{
        font-size: 1.7rem;
        height: 36vh;
    }
    #sideinfobox{
        margin-top: 3vh;
    }
    .sideinfo{
        font-size: 0.7rem;
    }
    .sideinfoicon{
        font-size: 1.8rem;
    }
    
}
@media screen and (max-width:321px){

    .item img{
        height: 45vh;
    }
    #content{
        font-size: 1.7rem;
        height: 30vh;
    }
    #content img{
        height: 63vh;
    }

}

